body {
  background-color: black;
  text-align: center;
}

a {
  color: aquamarine;
}

p {
  color: gray;
  font-family: verdana;
  font-size: 21px;
}

.big-headers {
  font-family: Verdana;
  font-weight: normal;
  font-size: 50px;
  color: white;
}

.sub-headers {
  font-family: Verdana;
  font-weight: 300;
  font-size: 42px;
  color: white;
}

#footer {
  text-align: right;
}
